*{
    margin: 0px auto;
    padding: 0px auto;
    overflow-x: hidden;
  }
  /* Navbar*/
  nav > ul {margin: 0}
.navbar
{position:sticky;
top:0;
    padding-top: 0px!important;
    z-index: 1;

}
.navbar-brand img
{
height: 40px;
padding-left:0;
width: 100px;
}
  .navbar-nav li
  {
  padding: 0 5px;
  }
  .nav-link{
    font-size: 1.2rem;
    margin-right: 8px;
    color: black;
  }
  nav{
    font-size: 120%;
    padding-bottom: 50px;
    color: black;
  }
  .navbar-nav li a{
    color: black;
  }
  body{
  background-image: url("image.png"); 
  opacity: 0.8; 
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  width: 100vw;
}
.img-container {
 display: block;
  height: 300px;
  width: 300px;
  align-content: center;
  margin-top: 0px;
  overflow-x:hidden;
  overflow-y:hidden;
}
* {box-sizing: border-box;}
.button-row > div {
  padding: 1em;
  color: #d9480f;
}
.button-row{
    padding-left: 250px;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 10px;
    grid-auto-rows: 100px 100px;
  }
  
  
.c0{
  width: 200px;
  background: transparent;
    border:solid;
    border-width: 2px;
    border-color: #aff171;
  color:#aff171;
  padding: 15px 32px;
  text-align: center;
  text-decoration-color: black;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-content: space-between;
  border-radius: 50px;
  font-size: larger;
}

.c1{
  width: 200px;
  background: transparent;
  border:solid;
  border-width: 2px;
  border-color: #aff171;
color:#aff171;
  padding: 15px 32px;
  text-align: center;
  text-decoration-color: black;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  align-content: space-between;
  font-size: larger;
  border-radius: 50px;
}
.c1:hover{
  background-color: black;
  font-size: x-large;
  width:300px;
}
.c0:hover{
  background-color: black;
  font-size: x-large;
  width:300px;
}
/* Footer */
.page-footer{
    background-color: #aff171;
    color:black;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: -00px;
    border-top: 1px;
    border-top-color: black;
    border-top-style: solid;
  }
  .footer-copyright{
    margin-top: 0px;
    border-top: 1px;
    border-top-color: black;
    border-top-style: solid;
    background-color:#aff171;
  }
  