@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
margin:0;
border:0;
background:url(bg-image.png);
background-size:cover;
}
.login-text{
background:none;
position:absolute;
top:30%;
left:37%;
transform:(-50%,-50%);
color: #8BC34A;
}
.login-text header{
float:left;
font-size:35px;
font-weight:bolder;
border-bottom:2px solid;
border-bottom-color:white;
margin-bottom:18px;
padding:5px 0;
}
.details{
width:69%;
overflow:hidden;
font-size:20px;
padding:5px 0;
margin:5px 0;
border-bottom:1px solid black;
}
.details i{
width:26px;
float:left;
text-allign:center;}

.details input{
border:none;
outline:none;
background:none;
color:#fff;
font-size:18px;
width:80%;
float:left;
margin: 0 10px;}

.btn{
width:69%;
background:white;
border:5px solid #8BC34A;
color:black;
padding:5px;
font-size:20px;
font-weight:bolder;
letter-spacing:1px;
cursor:pointer;}

